<p>
  This is what I'm all about. <a href="" (click)="sendMeHome"><strong>Take me back</strong></a>.
 </p>
 
 <ul>
   <li *ngFor="let goal of goals">
     {{ goal }}
   </li>
 </ul>

 <div class="container color-dark">
  <div class="col">
    <p>Project of IT321 - Web Development</p>
  </div>
  <div class="col">
    <p>GROUP :</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p>BSIT-32A</p>
  </div>
  <div class="col">
    <div class="life-container">
     <p>Jomar Hipolito</p>
     <p>Shaina Estrada</p>
     <p>Angelo Jesmar Docot</p>
     <p>John Michael Villamar</p>
   </div>
  </div>
</div>
 
